/* css styles */

#vierkant {
  transform-origin: center;
  }
    
.hero-banner {
  margin: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,212,255,1) 100%);
}

svg {
  margin-top: 50px;
}

.content-block {
  width: 80%;
  margin: auto;
  justify-content: center;
}

.box {
  border: 1px solid black;
  background-color: white;
  height: 300px;
}

